# dragonsecboot -pack configuration for PocketForge boot_package.fex
# Packs: U-Boot 2018.05 + BL31 monitor + SCP firmware + our DTB
#
# The four component files must be in the working directory when
# dragonsecboot -pack is invoked. The build script copies them from
# blobs/ and the compiled DTB before packing.
#
# bd: tsp-iuz.1.7
[package]
item=u-boot,                 u-boot.bin
item=monitor,                monitor.bin
item=scp,                    scp.bin
item=dtb,                    dtb.bin
