[Unit]
Description=PocketForge Poolsuite foreground application
Requires=pocketforge-foreground.target
Wants=network-online.target
After=local-fs.target network-online.target pocketforge-foreground.target
Conflicts=shutdown.target
Before=shutdown.target
ConditionPathExists=/dev/fb0
ConditionPathExists=/opt/pocketforge/apps/org.pocketforge.poolsuite/launch

[Service]
Type=simple
User=gamer
SupplementaryGroups=audio input video
WorkingDirectory=/opt/pocketforge/apps/org.pocketforge.poolsuite
Environment=XDG_CONFIG_HOME=/var/lib/pocketforge
ExecStart=/opt/pocketforge/apps/org.pocketforge.poolsuite/launch
StateDirectory=pocketforge/poolsuite
KillSignal=SIGTERM
TimeoutStopSec=2s
Restart=no
MemoryMax=256M
Nice=-5

[Install]
WantedBy=multi-user.target
